<div class="well">
  <h3>{{ post.data.title }}</h3>
  <span class="label label-default lb-md">{{ post.data.category.name }}</span>
  <button class="btn btn-default btn-sm" ui-sref="home.editPost({ id: post.data.id })">Edit Post</button></a>

  <span><a ui-sref="home.user({ id: post.data.author.id })">{{ post.data.author.username }}</a></span>
  <span>submitted at {{ post.data.created_at | date: 'short' }}</span>

  <div ng-show="post.data.avg_rating">
    Avg Rating: {{ post.data.avg_rating }}
  </div>

  <span>You rated this post:</span>
  <star-rating value="post.data.user_post_review.rating" post="post.data" user="post.currentUser"></star-rating><span> {{ post.data.user_post_review.rating }} / 5</span>

  <blockquote class="well white">
    {{ post.data.content }}
  </blockquote>
</div>
