<div class="well">
  <div ng-if="post.editPost()" class="pull-right">
    <div class="btn-group btn-group-sm" role="group">
      <button class="btn btn-warning outline" ui-sref="home.editPost({ id: post.data.id })"><span class="glyphicon glyphicon-pencil"></span></button>
      <button class="btn btn-danger outline" ng-click="post.removePost()"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
  </div>

  <h4>{{ post.data.title }}</h4>

  <a ui-sref="home.user({ id: post.data.author.id })"><span>{{ post.data.author.username }}</span></a>

  <span class="small">submitted at {{ post.data.created_at | date: 'short' }}</span>

  <a ui-sref="home.category({ id: post.data.category.id})"><span class="label label-default lb-md">{{ post.data.category.name }}</span></a>


  <div ng-show="post.data.avg_rating">
    Avg Rating: {{ post.data.avg_rating }}
     <span ng-show="post.currentUser"> | You rated this:
     <star-rating value="post.data.user_post_review.rating" post="post.data" user="post.currentUser"></star-rating><span> {{ post.data.user_post_review.rating }} / 5</span>
     </span>
  </div>
  <hr>
  <blockquote class="well white">
    {{ post.data.content }}
  </blockquote>
</div>
