<div class="container">
  Posts home

  <div ui-view></div>

  <div ng-if="home.home()">

    <div ng-repeat="category in home.categories">
      <label class="input-group label label-default">
        <input type="checkbox" ng-model="home.filter[category.name]" />
        {{ category.name }}
      </label>
    </div>

    <input ng-model="search.$" />

    <ul>
      <li ng-repeat="post in home.posts | filter: search | filter: home.filterByCategory">
        <item id="post.id"></item>
      </li>
    </ul>
  </div>
</div>
