<div class="container">
  <flash-message duration="5000" show-close="true" on-dismiss="myCallback(flash);"></flash-message>

  <div ui-view></div>
    <div ng-show="home.home()" class="col-md-12 text-center">
      <div class="jumbotron">
        <h1 class="display-3">Welcome to What's Good</h1>
        <p class="lead">A simple post creation and rating site.</p>
        <hr class="m-y-2">
        <p>Start creating and rating posts!</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" ui-sref="home.posts" role="button">See Posts</a>
        </p>
      </div>
  </div>
  <pre>
    This is some test text
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.s
  </pre>
</div>
