<div class="page-header">
  <h1>Register</h1>
</div>

<form name="form" ng-submit="register()">
  <div class="input-group" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">
    <input type="email" class="form-control" placeholder="Email" ng-model="user.email" name="email" ng-minlength="5" required="required">
    <div ng-messages="form.email.$error" ng-if="form.email.$touched" class="alert alert-danger">
      <div ng-message="required">Email cannot be blank</div>
      <div ng-message="minlength">Email is too short</div>
      <div ng-message="email">Must be a valid email address</div>
    </div>
  </div>
  <div class="input-group" ng-class="{ 'has-error': form.username.$touched && form.username.$invalid }">
    <input type="text" class="form-control" placeholder="Username" ng-model="user.username" name="username" ng-minlength="3" required="required">
    <div ng-messages="form.username.$error" ng-if="form.username.$touched" class="alert alert-danger">
      <div ng-message="required">Username cannot be blank</div>
      <div ng-message="minlength">Username is too short</div>
    </div>
  </div>
  <div class="input-group">
    <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
  </div>
  <input type="submit" class="btn btn-default" value="Register" ng-disabled="form.$invalid">
</form>
