.lb-sm {
  font-size: 12px;
}

.lb-md {
  font-size: 16px;
}

.lb-lg {
  font-size: 20px;
}

.well .white {
  background-color: white;
}

blockquote {
    padding: 6px 16px;
    border: none;
    quotes: "\201C" "\201D";
    display: inline-block;
    position: relative;
}

blockquote:before {
    content: open-quote;
    font-weight: bold;
    position:absolute;
    top:0;
    left: 1;
}
blockquote:after {
    content: close-quote;
    font-weight: bold;
    position:absolute;
    bottom:0; right: 1;
}
body {
  padding-top: 70px;
}
/* navbar */
nav {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
section {
  padding: 20px 10px;
  margin: 10px;
  background-color: #eeeeee;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.jumbotron {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
